<web-app>




	<error-page>
		<error-code>404</error-code>
		<location>/ch11/exception_error2.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NullPionterException</exception-type>
		<location>/ch11/exception_error2.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/ch11/exception_error2.jsp</location>
	</error-page>
	 


</web-app>